@font-face {
  font-family: 'Aktiv Grotesk W01 Hairline';
  src: url('../fonts/aktiv_grotesk_w01_hairline.eot');
  src: url('../fonts/aktiv_grotesk_w01_hairline.eot') format('embedded-opentype'),
    url('../fonts/aktiv_grotesk_w01_hairline.woff') format('woff'),
    url('../fonts/aktiv_grotesk_w01_hairline.ttf') format('truetype'),
    url('../fonts/aktiv_grotesk_w01_hairline.svg#Aktiv Grotesk W01 Hairline') format('svg');
}


body,
html {
  width: 100%;
  height: 100%;
}

* {
  //font-family: 'Aktiv Grotesk W01 Hairline';
  font-family: Arial, Helvetica, sans-serif;
}

a,
a:active,
a:focus,
a:hover,
a:link,
a:visited {
  color: #000;
  text-decoration: none !important;
}

.pointer {
  cursor: pointer;
}


.tableWrapper {
  z-index: 1;
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
}

.tableContainer {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.container {
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;
  table-layout: fixed;
  text-align: center;
  vertical-align: middle;
}

/* fade in menu */

#openMenu {
  z-index: 99999999;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  padding: 20px;
  cursor: pointer;
}

#openMenu img {
  width: 40px;
}

#menuFade {
  z-index: 7;
  display: none;
  position: fixed;
  left: 0px;
  width: 100%;
  height: 100%;
  height: 100%;
  padding-top: 0px;
}

#menuFade ul {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 0px;
  font-size: 50px;
  list-style-type: none;
}

#menuFade li {
  cursor: pointer;
}


#containerAnimate {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

#pageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#footer {
  position: relative;
  text-align: center;
}

#footer #socialIcons {
  padding: 40px 0 200px;
}

#footer ul {
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Aktiv Grotesk W01 Hairline';
  font-size: 20px;
}

#footer li {
  display: inline-block;
  margin-right: 30px;
  list-style-type: none;
}

#footer ul:last-child {
  margin-right: 0;
}

/* navigation */


.closeScreen, .closeModal {
  z-index: 10000;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 30px 70px 70px 30px;
  color: #666;
  cursor: pointer;
}


#navigation {
  z-index: 2;
  display: block;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  background-color: #fff;
  text-align: center;
}


#navigation ul {
  float: right;
  margin-right: 30px;
  list-style-type: none;
}

#navigation ul>* {
  float: right;
  margin-top: 22px;
  margin-right: 20px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}




/* homepage */
#homePage img {
  width: 700px;
  margin-top: -150px;
}

.subPage p {
  font-size: 60px;
}

/* search screens */


.customBox {
  height: 3em;
  margin: 0 0 0px 0;
  padding: 0 !important;
  color: #000;
  border: 0;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: 0;
  box-shadow: none;

}

#searchSelect {
  position: relative;
  margin: 0;
  line-height: 0;
}

#searchSelect .dropdown-toggle {
  margin-top: -10px;
/* padding-top: 41px; */
color: #000;
border: 0;
background: #fff;
font-size: 80px;
overflow: hidden;
position: absolute;
}

#searchSelect .dropdown-menu {
  left: 50% !important;
  width: 600px;
  margin-left: -300px;
  border: 0;
  transform: translate3d(0px, 120px, 0px) !important;
}

#searchSelect .dropdown-item {
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
}

#searchSelect .dropdown-item:active {
  color: #000;
  background: #fff;
}

.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: none;
}

.dropdown-toggle[aria-expanded="true"]:after {
  transform: rotate(180deg);
}

/* for the animation */
.dropdown-toggle::after {
  vertical-align: .120em !important;
  transition: 0.5s;
}

#btnSearch {
  height: 50px;
  margin-top: 30px;
  padding: 0px;
  border: 0;
  background-color: #fff !important;
  outline: 0;
  font-size: 30px;
  cursor: pointer;
}

/* search screens */
.searchBox {
  width: 80%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-align: center;
  font-size: 80px;
}

.searchBtn {
  width: 80%;
  height: 50px;
  margin-top: 30px;
  padding: 0;
  border: 0;
  background-color: #fff !important;
  outline: 0;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

/* join screens */




#register {
  position: absolute;
  width: 100%;
  height: 100%;
}

#register input {
  width: 80%;
  border: 0;
  outline: 0;
  text-align: center;
}

#formLabel,
#formSector,
#inputEmail,
#inputName {
  margin: 0;
  padding: 0;
  font-size: 80px;
}

#formSector {
  line-height: 0;
}

#formSector .dropdown-toggle {
  margin: 0 0 0 70px;
  padding: 0;
  color: #000;
  border: 0;
  background: #fff;
  font-size: 80px;
}

#formSector .dropdown-menu {
  left: 50% !important;
  width: 600px;
  margin-left: -300px;
  border: 0;
  transform: translate3d(0px, 120px, 0px) !important;
}

#formSector .dropdown-item {
  text-align: center;
  font-size: 30px;
  line-height: 1.5;
}

.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: none;
}

.dropdown-toggle[aria-expanded="true"]:after {
  transform: rotate(180deg);
}

/* for the animation */
.dropdown-toggle::after {
  vertical-align: .120em !important;
  transition: 0.5s;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

#btnLabel,
#btnNext,
#btnSector,
#btnSubmit {
  height: 50px;
  margin-top: 30px;
  padding: 0;
  background-color: #fff !important;
  font-size: 30px;
  cursor: pointer;
}

/* thanks screen */
#messageSuccess {
  margin-top: -80px;
  font-size: 80px;
}

#messageReset {
  margin-top: -80px;
  padding: 0;
  font-size: 140px;
}


/* popup alerts */
.alertContainer {
  display: none;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: fixed;

}

.alertBG {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

}

.alertCustom {
  width: 800px;
  left: 50%;
  margin-left: -400px;
  padding: 0px;
  border: 1px solid #000;
  border-radius: 3px;
  background: #fff;
  font-size: 36px;
  position: relative;

}

.alertCustom p {
  margin:20px 0 0 0;
}

.alertCustom button {
  margin: 0px;
  padding: 20px;
  cursor: pointer;
  border: none;
  background:none;
  outline: none;
}




/**
 * /app/index
 */


#openAppSend {
    font-size: 50px;
    padding: 30px 0;
    margin-top: 70px;
}

#btnAppStore {
  margin-top: 30px;
}

#btnAppStore img {
  width: 280px;
  padding: 30px;
  cursor: pointer;
}

/**
 * /app/send/
 */

#sendApp {
  font-size: 70px;
  margin-top: 150px; //account for padding
}

#sendApp #countryCode, #sendApp #mobileNumber {
  display: inline-block;
}

#sendApp #mobileNumber {
  width: 500px; border: none; outline: none; margin-bottom: 50px;
}

#sendApp #mobileNumber.error {
  color: #000;
}

#countryCode {
  display: inline-block; outline: none; outline: 0; width:220px; border: none; margin: 0 30px 0 -100px; text-align: right;
}

#changePrefix {
  display: block;
  font-size: 24px;
  padding: 30px;
}

#countryCodes {
  overflow-x: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
  z-index: 999;
}

#closeCountryCodes{
  z-index: 1002;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}


#countryCodesPopup {
  z-index: 1003;
  position: absolute;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  background: #fff;
}

#countryCodes #searchCountry {
  width: 300px;
  height: 40px;
  margin: 50px 0 60px 50px;
  padding: 20px;
  border: none;
  border-radius: 20px;
  background: #ebebeb;
  outline: none;
    Helvetica,
    Arial,
    sans-serif;
  font-size: 26px;
  font-weight: 200;
}

#trendingCountries {
  margin-bottom: 10px; height:51px;
}

#trendingList {
  margin-bottom: 50px;

}

#countryCodes ul,
#countryRegion ul {
  padding: 0;
  padding-bottom: 200px;
}

#countryCodes li,
#countryCodes p,
#countryRegion li,
#countryRegion p {
  font-size: 24px;
  font-weight: 200;
  line-height: 40px;
  list-style-type: none;
  cursor: pointer;
}

#countryCodes li p,
#countryRegion li p {
  display: inline-block;
  width: 300px;
}

#countryCodes li div,
#countryRegion li div {
  display: inline-block;
  text-align: right;
  float:right;
}

#countryCodes li .tick,
#countryRegion li .tick {
  position: absolute;
  right: -30px;
  width: 20px;
}

#countryCode,
#openCountryRegion input {
  border: none;
}


#sendAppCheckPhone,
#sendAppThanks {
  z-index: 100;
  display: none;
  padding: 100px;
  padding-top: 10px;
  font-size: 70px;
  font-weight: 200;
}





#topBarSelect {
  position: fixed; left: 0; top: 0; background: #fff; width: 100%; height: 80px; z-index: 6; display: none; font-size: 20px;
}

#topBarSwap {
  width: 250px; text-align: center; left: 50%; margin-left: -125px; position: absolute; cursor: pointer; margin-top: 22px; padding: 10px;
}

#topBarOpenMenu {
  width: 150px;  text-align: center; margin-right: 30px; margin-top: 22px; padding: 10px; position: absolute; right: 0; cursor: pointer;


}

#topBarClose {
  position: fixed; z-index: 5; width: 100%; height: 100%; display: none;
}













/* */
